html {
  background: #f5f5f5;
}

body {
  margin: 0;
}

.chore-table {
  width: 100%;
  border-collapse: collapse;
}

.chore-table td,
.chore-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.chore-table tr:nth-child(even) {
  background-color: #fafafa;
}

.chore-table td:first-child {
  max-width: 300px;
  width: 20%;
}

.chore-table th {
  padding: 12px 8px;
  text-align: left;
  color: #fafafa;
  background: #006978;
}
