:root {
  --primary: #8fa3ad;
  --primaryLight: #bfd4df;
  --primaryDark: #61747e;
  --secondary: #0097a7;
  --secondaryLight: #56c8d8;
  --secondaryDark: #006978;
  --textOnPrimary: #000;
  --textOnSecondary: #fafafa;
  --backgroundColor: #f1f1f1;
}

html {
  background: var(--backgroundColor);
}

body {
  margin: 0 0 50px 0;
}

.chore-table {
  width: 100%;
  border-collapse: collapse;
}

.chore-table td,
.chore-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.chore-table tr:nth-child(even) {
  background-color: #fafafa;
}

.chore-table td:first-child {
  max-width: 300px;
  width: 20%;
}

.chore-table th {
  padding: 12px 8px;
  text-align: left;
  color: var(--textOnSecondary);
  background: var(--secondaryDark);
}

.btn-primary {
  background-color: var(--secondary);
  color: var(--textOnSecondary);
  border-radius: 5px;
}
